<!doctype html>
<html>
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1.0, maximum-scale=1.0" />
    <title>Meandro Jachting LTD</title>
    <!--<link rel="shortcut icon" type="image/x-icon" href="assets/svg/logo.svg" />-->
    <link href="http://localhost:81/BlueSkyVacantion/dist/assets/svg/logo_ico.ico" rel="shortcut icon" type="image/x-icon" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>


<!--
  https://codesandbox.io/s/0pn9s?file=/src/components/navigation.js 
  https://0pn9s.csb.app/
-->