/* Footer Column Head */
@footer_column_titel_color: #e5e9f0;
@footer_column_titel_size: 14px;
@footer_column_titel_weight: bold;

/* Footer Column Childrens */
@footer_column_li_color: #929baa;
@footer_column_li_size: 12px;
@footer_column_li_weight: bold;

@gray_dark: #2c333f;
@gray_light: #929baa;
@gray_lighter: #e5e9f0;
