.rightSide{
  color: #1b1b1b;
  padding: 60px 40px;

  hr{
    background-color: #f5f1f0;
    height: 1px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0;
    margin-left: 0;
    clear: both;
    outline: none;
    border: none;
  }

  .tabsStyle{
    button{
      /*&:active{
        background-color: yellow !important;
      }*/
    }
  }

  .table{
    background-color: #f5f1f0;
    min-height: 345px;
  }
}




:global {
  .Mui-selected{
    background-color: #f5f1f0 !important;
  }
}
