@import '../assets/css/colors_global.less';

.headerContainer{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  height: 65px;
  padding: 5px 0;
}

.menu_right{
  position: absolute;
  right: 10%;
  top: 20%;
  li{
    list-style-type: none;
    border: 1px solid red;
    border-bottom: none;
    padding: 5px 12px;
    a{
      text-decoration: none;
    }
    &:first-child{
      border-radius: 4px 4px 0 0;
      border-bottom: none;
    }
    &:last-child{
      border: 1px solid red;
      border-radius: 0 0 4px 4px;
    }
    p{
      margin: 0;
    }
  }
}
