.flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;

  flex: 1;
  .full{
    flex: 1;
    input, select, textarea{
      width: 100%;
      font-size: 12px;
      height: 25px;
    }
  }
}

.container {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;

  &.column {
    flex-direction: column;
  }
}


input, select {
  border: 1px solid #757575;
  border-radius: 2px;
  padding-right: 8px;

  &.changed{
    background: linear-gradient(to right, #ffffff 98%, #1000ff 2%);
    border: 1px solid #757575;
    border-radius: 2px;
  }
  &.notValid {
    border: 1px solid red;
    border-radius: 2px;
    &:focus{
      outline: none !important;
      border: 2px solid red;
      border-radius: 2px;
    }
  }
}


